"*":
  editor:
    showIndentGuide: true
    fontFamily: "Source Code Pro"
    fontSize: 14
    invisibles: {}
    tabLength: 4
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
    hideGitIgnoredFiles: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "go-plus": {}
  phpunit:
    runOnSave: true
    execPath: "/Users/rossmcf/code/json/vendor/bin/phpunit"
